{% extends 'base.html' %}

{% block content %}
<div class="comment">
        <h3><a href="{{ book.url }}">{{ book.title }}</a></h3><h6>{{ book.author }}</h6>
        <h6>Category: {{ book.category.name }}</h6>
        <br>
        <p>{{ book.description }}</p>
        <p>Favorited {{ num_favorites }} times</p>
        <p class="smallertext">Added: {{ book.date }}</p>
        <br>
        {% if request.user.is_authenticated %}
            {% if is_favorited %}
                <p><a href="{% url 'success' book.pk %}">Remove from Favorites</a></p>
            {% else %}
                <p><a href="{% url 'success' book.pk %}">Add to Favorites</a></p>
            {% endif %}
        {% endif %}
    </div>   
    <br>
    <p class="textcenter">Comments</p>
    <div>
        {% if book.comment_set %}
            {% for c in book.comment_set.all %}
                <div class="comment2">
                    <h6>{{ c.commenter }}</h6>
                    <p>{{ c.content }}</p>
                    <p class="commentdate">{{ c.date }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>This book has no comments yet.</p>
        {% endif %}
    </div>
    <br>
    <p>{% if request.user.is_authenticated %}- <a href="{% url 'add-comment' book.pk %}">Add Comment</a></p>
        {% else %}
            <a href="{% url 'auth_login' %}">Login to post a comment</a>
    {% endif %}

{% endblock %}
